
body

.navegacion {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    color: white;
}

.superior {
    background-color: #8D041D;
    height: 40%;
    align-content: center;
    color: white;
}

.superior p {
    display: flex;
    align-items: center;
    color: white;
    font-size: 65%;
    margin-left: 40%;
}

.inferior {
    background-color: #00402F;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo img {
    height: 40px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    padding-top: 4%;
    padding-bottom: 4%;
}

.desplegable {
    position: relative;
    display: inline-block;
    padding-top: 4%;
    padding-bottom: 4%;
}

.desplegable-contenido {
    display: none;
    position: absolute;
    background-color: #00402F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    text-decoration: none;
}

.desplegable-contenido a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #8D041D;
}
ul{
    list-style: none;
}


.desplegable-contenido a:hover {
    background-color: #8D041D;
}

.desplegable:hover .desplegable-contenido {
    display: block;
}

.iconos {
    display: flex;
    gap: 20px;
}

.iconos img {
    height: 24px;
    cursor: pointer;
}


body {
    margin: 0;
    font-family: Montserrat;
    background-color: #f4f4f4;
}

.contenedor-1 {
    text-align: center;
}

.banner-principal {
    width: 100%;
}

.botones {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: Montserrat;
}

.boton-izq,
.boton-medio,
.boton-der {
    background-color: #E0E0E0;
    color: #00402F;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: Montserrat;
}

.boton-izq {
    border-radius: 20px 0 0 20px;
}

.boton-medio {
    border-radius: 0;
}

.boton-der {
    border-radius: 0 20px 20px 0;
}

.boton-izq:hover,
.boton-medio:hover,
.boton-der:hover {
    background-color: #00402F;
    color: #E0E0E0;
}

.tarjetas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.tarjeta {
    width: 20%;
    height: 40%;
    background-color: #E0E0E0;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.tarjeta img {
    width: 100%;
    height: auto;
}

.tarjeta p {
    margin: 10px 0;
}

.tarjeta2 {
    width: 200px;
    height: 320px;
    background-color: #E0E0E0;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}



.mostrar-todo {
    background-color: #E0E0E0;
    color: #00402F;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    text-decoration: none;
}

.mostrar-todo:hover {
    background-color: #00402F;
    color: #E0E0E0;
}

.boton-activo {
    background-color: #00402F;
    color: #E0E0E0; 
}

.contenedor-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    transition: transform 0.5s ease-out;
}

.contenedor-izq {
    max-width: 40%;
}



.contenedor-der {
    max-width: 40%;
}



h2, h3 {
    color: #00402F;
    margin: 10px 0;
}

p {
    color: #333;
    font-size: 14px;
    margin: 5px 0 20px 0;
}

.banner {
    width: 45%;
    height: 16%;
    object-fit: cover;
    transform: translateX(-10%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.banner.visible {
    transform: translateX(0);
    opacity: 1;
}

.mostrar-todo {
    background-color: #E0E0E0;
    color: #00402F;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.mostrar-todo:hover {
    background-color: #00402F;
    color: #E0E0E0;
}

.mostrar-todo2 {
    background-color: #E0E0E0;
    color: #00402F;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.mostrar-todo2:hover {
    background-color: #00402F;
    color: #E0E0E0;
}

.contenedor-columnas {
    display: flex;
    justify-content: center;
    gap: 3%;
    margin: 3% auto;
    width: 80%;
}

.columna {
    width: 15%;
    height: 20%;
    background-color: #ffffff;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.contenedor-columnas h3 {
    color: #00402F;
    font-size: 100%;
    margin-bottom: 10%;
}

.contenedor-columnas p {
    color: #00402F;
    font-size: 120%;
    margin-bottom: 10%;
}

p {
    color: #00402F;
    font-size: 14px;
    margin-bottom: 20px;
}

.icono-camion {
    width: 40%;
    height: auto;
}

.footer {
    background-color: #00402F;
    color: #799990;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-izq, .footer-der {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-izq {
    text-align: left;
    color: #799990;
}

.footer-der {
    text-align: right;
    color: #799990;
}

.footer p {
    margin: 0;
    color: #799990;
}

.contenedor-formulario{
    margin-top: 60px;
    background-image: url(img/fondo-form.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2% 20%;
}

#Formulario {
    width: 300px;
    background-color: #00402F;
    color: white;
    margin: auto;
    padding: 8% 15%;
    border-radius: 10px;
}

#Formulario h2 {
    text-align: center;
    color: white;
}

label, input, textarea, .buttonform {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-family: Montserrat;
}

input, textarea {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

textarea {
    height: 100px;
}

.buttonform {
    background-color: #E0E0E0;
    color: #00402F;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonform:hover {
    background-color: #00402F;
    color: #E0E0E0;
}

#errorNombre, #errorContrase침a {
    color: red;
    visibility: hidden;
}


.contenedor-formulario-enviado-total{
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}



.contenedor-formulario-enviado {
    background-color: #00402F;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contenedor-formulario-enviado h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.contenedor-formulario-enviado p {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}

.contenedor-formulario-enviado a {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #00402F;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.contenedor-formulario-enviado a:hover {
    background-color: #00402F;
    color: white;
}

.error {
    color: red;
    visibility: hidden;
}


.novelas-romanticas {
    width: 90%;
    max-width: 960px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #00402F;
    margin: 0;
}

.btn-filtros {
    background-color: #00402F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: none;
}

.btn-filtros:hover {
    background-color: white;
    color: #00402F;
}

.contenedor-libros {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.libro {
    display: flex;
    align-items: center;
    border: 2px solid #8D041D;
    border-radius: 10px;
    padding: 2%;
    width: 97%;
    height: 37%;
    background-color: #fff;
}

.libro img {
    width: 130px;
    height: auto;
    margin-right: 20px;
}

.info-libro p {
    margin: 0;
    color: #00402F;
}

.btn-mostrar-todo {
    background-color: #00402F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    margin: 20px auto;
}

.btn-mostrar-todo:hover {
    background-color: white;
    color: #00402F;
}

h4{
    color: #00402F;
}

.detalle-libro {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.columna-izquierda, .columna-derecha {
    padding: 20px;
    color: #00402F;
}

.columna-izquierda {
    width: 60%;
    border-right: 1px solid #00402F;
    padding-top: 50px;
}

.columna-derecha {
    width: 40%;
    position: relative;
    padding-top: 50px;
}

.tapa-libro {
    width: 50%;
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
}

.info-libro h2 {
    margin-top: 0;
}

.info-libro table {
    width: 100%;
    border-collapse: collapse;
}

.info-libro table, .info-libro td {
    border: 1px solid #00402F;
}

.info-libro td {
    padding: 8px;
}

.tarjeta-fixed {
    position: fixed;
    width: 300px;
    background-color: #fff;
    border: 1px solid #00402F;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.tarjeta-fixed p {
    margin: 10px 0;
}

.tarjeta-mobile {
display: none;
width: 300px;
    background-color: #fff;
    border: 1px solid #00402F;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.btn-comprar {
    display: block;
    background-color: #FFE800;
    color: #002E6D;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s, color 0.3s;
}

.btn-comprar:hover {
    background-color: #002E6D;
    color: #FFE800;
}

.btn-anadir {
    background-color: #00402F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-anadir:hover {
    background-color: white;
    color: #00402F;
}

#pantallaCarga {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #18850e;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pantalla {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #00402F;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.spinner {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #00402F;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bannerMobile {
display: none;
width: 30%;

}

.bodyIndex{
    padding-top: 2%;
}

.filtros-botones {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

.btn-filtro {
    padding: 10px 20px;
    background-color: #00402F;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: Montserrat;
}

.btn-filtro:hover {
    background-color: #3a6e61;
}

header-component{
    width: 100%;
}

/* CSS en style.css */
.medios-pago {
    background-color: #FFFFFF;
    color: #00402F;
    text-align: center;
    padding: 5% 0;
}

.medios-pago h2 {
    font-size: 200%;
    margin-bottom: 3%;
    margin-top: 5%; /* Aumenta la separaci칩n desde la parte superior */
    color: #00402F;
}

.metodos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.metodo {
    text-align: center;
    width: 30%;
    margin-bottom: 5%;
    box-sizing: border-box; /* Para evitar desalineaciones por padding o margen */
}

.metodo img {
    width: 60%;
    margin-bottom: 5%;
}

.metodo p {
    color: #00402F;
    font-size: 110%;
    margin: 2% 0;
}

.metodo a {
    color: #00402F;
    font-size: 100%;
    text-decoration: underline;
    display: block;
    margin-top: 3%;
}

.metodo-mp {
    text-align: center;
    width: 20%;
    margin-bottom: 5%;
    box-sizing: border-box;
}

.metodo-mp img {
    width: 60%;

}

.metodo-mp p {
    color: #00402F;
    font-size: 110%;
    margin: 2% 0;
}

.metodo-mp a {
    color: #00402F;
    font-size: 100%;
    text-decoration: underline;
    display: block;
    margin-top: 3%;
}


@media (max-width: 768px) {
    .metodo {
        width: 45%; /* Ajuste para pantallas peque침as */
    }
}

@media (max-width: 480px) {
    .metodo {
        width: 90%; /* En pantallas muy peque침as, mostrar un solo elemento por fila */
    }
}

.form-group {
   padding: 0% 30%;
}

.btn-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 0%;
 }

 
 .btn-subir{
 background-color: #E0E0E0;
    color: #00402F;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.btn-subir:hover {
    background-color: #00402F;
    color: #E0E0E0;
}
